[Desktop Entry]
Type=Application
Terminal=true
Name=medm-lho
Icon=/home/vagrant/.medm_launcher/medm-lho-icon.png
Exec=/home/vagrant/.medm_launcher/medm_lho_desktop
