[Desktop Entry]
Type=Application
Terminal=false
Name=Open MEDM Control Screens for LIGO Hanford Observatory
Icon=/home/vagrant/.medm_launcher/medm-lho-icon.png
Exec=/home/vagrant/.medm_launcher/medm_lho_desktop
